@import url(root.css);
@import url(font.css);

* {
    padding: 0;
    margin: 0;
    direction: ltr;
    line-height: normal;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    list-style-type: none;
    border: 0 transparent;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-family: Gilory;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--background);
}


.main-content {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: stretch;
}



/* ///////////////////////////////
   navbar left  
   /////////////////////////////// */

.navbar-left {
    height: calc(100vh - 5rem);
    width: 6%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-right: 2px solid #EDEFF2;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.top-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 0.3rem;
}

.bottom-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 0.3rem;
}

.btn-bottom-nav-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0.3rem;
    cursor: pointer;
}

.btn-bottom-nav-profile>img {
    width: 100%;
    height: 100%;
}


/* ///////////////////////////////
   navbar left  
   /////////////////////////////// */


.sidebar {
    height: calc(100vh - 5rem);
    width: 20%;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#top-sidear-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.top-btn-sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.top-btn-sidebar>button {
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 10px rgb(38 51 77 / 7%);
}

.progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#fff 3.6deg, var(--blue) 0deg);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.progress-circle::before {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
}

.count-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 2;
}

#avator-profile {
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0.4rem;
    border-radius: 50%;
    object-fit: cover;
}

.badge-count-profile {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: -10px;
}

.badge-count-profile p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

#text-name-profile {
    margin: 1rem 0 0 0;
}

.sidebar h4 {
    color: #6B7A99;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.4rem;
}

.sidebar h5 {
    color: #ADB8CC;
    font-weight: 400;
    font-size: 14px;
}

.menu-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-content: center;
    border: 2px solid #EDEFF2;
    border-radius: 15px;
}

.menu-grid div {
    height: 80px;
    transition: .3s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    color: #6B7A99;
    font-size: 12px;
}

.menu-grid div:hover {
    border-radius: 15px;
    transform: scale(1.2);
    transition: .3s;
    background: #fff;
    box-shadow: 0 2px 10px rgb(38 51 77 / 7%);
    cursor: pointer;
    font-weight: 600;
}

.grid-item-1 {
    border: 2px solid #EDEFF2;
    border-top: 0 transparent;
    border-left: 0 transparent;
}

.grid-item-2 {
    border: 2px solid #EDEFF2;
    border-top: 0 transparent;
    border-left: 0 transparent;
    border-right: 0 transparent;
}

.grid-item-3 {
    border: 2px solid #EDEFF2;
    border-top: 0 transparent;
    border-left: 0 transparent;
    border-bottom: 0 transparent;
}

.grid-item-4 {
    border: 2px solid #EDEFF2;
    border-top: 0 transparent;
    border-left: 0 transparent;
    border-right: 0 transparent;
    border-bottom: 0 transparent;
}

.grid-item-5 {
    border: 2px solid #EDEFF2;
    border-left: 0 transparent;
    border-bottom: 0 transparent;
}

.grid-item-6 {
    border: 2px solid #EDEFF2;
    border-left: 0 transparent;
    border-right: 0 transparent;
    border-bottom: 0 transparent;
}

.grid-item-7 {
    border: 2px solid #EDEFF2;
    border-left: 0 transparent;
    border-bottom: 0 transparent;
}

.grid-item-8 {
    border: 2px solid #EDEFF2;
    border-left: 0 transparent;
    border-right: 0 transparent;
    border-bottom: 0 transparent;
}

.social-media {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 0.7rem 1rem;
    border-radius: 1000px;
    border: 2px solid #EDEFF2;
    background: #fff;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    transition: .3s all;
}

.social-media img:hover {
    transform: scale(1.1);
    transition: .3s all;
    cursor: pointer;
}



/* ///////////////////////////////
   header content 
   /////////////////////////////// */

.content {
    height: calc(100vh - 7rem);
    width: 72.5%;
    margin: 1rem 0rem 1rem 0rem;
    border: 2px solid #EDEFF2;
    border-radius: 15px;
}

.header-content {
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 2px solid #EDEFF2;
}

.search-header-content {
    display: flex;
    height: 35px;
    width: 20%;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 1000px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 5%);
    flex-wrap: nowrap;
    align-content: center;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.search-header-content input {
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    color: #7D8FB3;
    letter-spacing: 0.03rem;
}

.search-header-content input::placeholder {
    color: #ADB8CC;
}

.navbar-header-content {
    display: flex;
    column-gap: 2.5rem;
    font-size: 13px;
    font-weight: 600;
    color: #7D8FB3;
    transition: .3s all;
    align-items: baseline;
    align-content: center;
    justify-content: center
}

.navbar-header-content img {
    width: 18px;
    height: 18px;
}

.navbar-header-content li {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0;
    border-bottom: 2px solid transparent;
}

.navbar-header-content li:hover {
    padding: 1.4rem 0;
    border-bottom: 2px solid var(--blue);
}

.navbar-header-content li p {
    padding-left: .5rem;
}




/* ///////////////////////////////
   content 
   /////////////////////////////// */

.content-board {
    height: calc(100% - 10%);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2rem;
    padding: 2rem;
}

.main-body-task {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header-task {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 5%);
    color: #4D5E80;
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}

.header-task p {
    font-size: 12px;
    font-weight: 900;
    color: #4D5E80;
}

.header-task div {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    padding-right: 1.5rem;
}

.header-task div span {
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px rgb(38 51 77 / 25%);
    margin: 0.7rem 0;
    font-size: 12px;
    font-weight: 600;
    color: #6B7A99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purpole {
    background: var(--purpole);
}

.yellow {
    background: var(--yellow);
}

.cayn {
    background: var(--cayn);
}

.green {
    background: var(--green);
}

.header-task hr {
    width: 0.2rem;
    height: 50%;
    border-radius: 1000px;
}

.body-task {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    row-gap: 1rem;
    margin: 1.5rem 0;
}

.task {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 5%);
    color: #4D5E80;
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.img-task {
    width: 100%;
    max-height: 140px;
    object-fit: fill;
}

.task-div-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.task-div-text div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.title-task {
    font-size: 12px;
    font-weight: 600;
    color: #ADB8CC;
}

.text-task {
    width: 100%;
    color: #6B7A99;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    margin-top: .5rem;
}

.img-avator-task {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.task-div-attachment{
    display: flex;
    padding: 1rem;
    flex-wrap: nowrap;
    place-content: center;
    align-items: center;
    column-gap: .6rem;
}

.task-div-attachment img {
    width: 20px;
    height: 20px;
}
.task-div-attachment span {
    color: #6B7A99;
    font-size: 12px;
}