





/* ///////////////////////////////
sign page 
/////////////////////////////// */




.main-section {
    flex-direction: column;
    padding: 1rem;
}

.main-section>img {
    width: 180%;
    height: 70%;
    top: 35%;
    right: -40%;
}

/* ///////////////////////////////
left side
/////////////////////////////// */

.left-side {
    width: 100%;
    height: 70%;
}

.left-side img {
    width: 100%;
    height: 100%;    
}

.text-1 {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-bottom: 3.5rem;
}

.text-1:nth-child(3) {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: .8rem;   
}


/* ///////////////////////////////
right side
/////////////////////////////// */

.right-side {
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
}

.right-side>p {
    color: #3361ff;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 700;
}

.right-side>p:nth-child(2) {
    color: #4D5E80;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.main-section form {
    width: 95%;
    height: 100%;
    justify-content: flex-start;
}

.div-btn-sign {
    width: 100%;
    margin-top: 2rem;
}


















/* ///////////////////////////////
dashboard page
/////////////////////////////////
/////////////////////////////////
   navbar 
/////////////////////////////// */

.exit-div {
    column-gap: 0.3rem;
}

.center-side-hearder {
    display: none;
}

.main-content {
    padding: 0rem 1rem;
}

/* ///////////////////////////////
   navbar left  
   /////////////////////////////// */

.navbar-left {
    display: none;
}


/* ///////////////////////////////
   sidebar profile
   /////////////////////////////// */

.sidebar {
    display: none;
}

/* ///////////////////////////////
   header content 
   /////////////////////////////// */

.content {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
}

.header-content {
    padding: 0 1rem;
}

.header-content::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.search-header-content {
    width: 40px;
    height: 40px;
    padding: .7rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 8%);
    margin: .3rem;
    cursor: pointer;
}


.search-header-content::after {
    display: flex;
    height: 35px;
    width: 20%;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 1000px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 5%);
    flex-wrap: nowrap;
    align-content: center;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.search-header-content input {
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    color: #7D8FB3;
    letter-spacing: 0.03rem;
}


.navbar-header-content {
    display: flex;
    column-gap: 2.5rem;
    font-size: 13px;
    font-weight: 600;
    color: #7D8FB3;
    transition: .3s all;
    align-items: baseline;
    align-content: center;
    justify-content: center
}


/* ///////////////////////////////
   content 
   /////////////////////////////// */

.content-board {
    column-gap: 1rem;
    padding: 1rem 1rem;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 100%;
    height: 5px;
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb {
    background: #7D8FB3;
    border-radius: 1000px;
}

::-webkit-scrollbar-track {
    background-color: #DADEE6;
    border-radius: 1000px;
    margin: 1.5rem;
    position: absolute;
}

.main-body-task {
    width: 100%;
}

.header-task div {
    column-gap: 1rem;
    padding-right: 0.9rem;
}

.header-task div span {
    width: 25px;
    height: 25px;
}

.body-task {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: .7rem;
    margin: 1rem 0;
    border-radius: 10px;
    scrollbar-width: none;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.body-task::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.task {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 5%);
    color: #4D5E80;
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.task-div-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.task-div-text>div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.task-div-text>div>div {
    display: flex;
    flex-direction: row-reverse;
}

.task-div-attachment img {
    width: 16px;
    height: 16px;
}














/* ///////////////////////////////
checknet div
/////////////////////////////////
/////////////////////////////////
   check net on or off 
/////////////////////////////// */


.checknet {
    display: block;
}

.checknet>p {
    right: 0;
    margin-left: 0;
}

.checknet>div>img {
    width: 15%;
}

.checknet>div h1 {
    font-size: 2rem;
}

.checknet>div h1:nth-child(2) {
    font-size: 1.2rem;
    margin-top: .7rem;
}