@import url(root.css);
@import url(font.css);


.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1;
}

.main-section >img {
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(90deg);
    position: absolute;
    right: -30%;
    opacity: .2;
}

.left-side {
    width: 60%;
    height: 100%;
    padding: 2rem 0rem 2rem 2rem;
}

.left-side>div {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background: linear-gradient(0deg, #3361ff, rgba(51, 191, 255, 1));
    position: relative;
}

.left-side img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.text-1{
    width: 100%;
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
    z-index: 2;
    position: absolute;
    margin-left: 3rem;
    margin-bottom: 7.5rem;
    bottom: 0;
}

.text-1:nth-child(3){
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5rem;
    margin-left: 3.5rem;
}


.slide {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    bottom: 0;
    right: 0;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    position: absolute;
}



.btn-slide-circle {
    width: .5rem;
    height: .5rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1000px;
    cursor: pointer;
}

.show-slide {
    width: 2rem;
    background: #fff;
}





.left-side-circle {
    width: 3rem;
    height: 20rem;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: .3;
    border-radius: 1000px;
    position: absolute;
}













.right-side {
    width: 40%;
    height: 100%;
    /* box-shadow: 0 0 25px rgb(38 51 77 / 20%); */
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-side>p {
    color: #3361ff;
    margin-bottom: .7rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.right-side>p:nth-child(2) {
    color: #4D5E80;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 500;
}

.main-section form {
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.input-text-sign {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #7D8FB3;
    letter-spacing: 0.03rem;
    padding: 1rem 2rem;
    border-radius: 1000px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(38 51 77 / 5%);
    margin: .5rem 0;
}

.input-text-sign::placeholder {
    color: #ADB8CC;
}

.div-btn-sign {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.forget-remaber {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
}

.forget-remaber p {
    color: #7D8FB3;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    transition: .3s all;
    cursor: pointer;
}

.forget-remaber p:hover {
    transition: .3s all;
    color: var(--red);
}

.input-checkbox, input[type="checkbox"], label {
    font-size: 14px;
    font-weight: 600;
    color: #7D8FB3;
    display: flex;
    column-gap: .5rem;
    cursor: pointer;
}

.input-checkbox input[type="checkbox"]:checked {
    color: red;
    background-color: #4D5E80;
}

.btn-sign {
    margin-top: 3rem;
    padding: 1rem 4.5rem;
}