@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/fonts/all.css";
@import "./assets/fonts/font.css";

@layer base {
  * {
    font-family: DMSans;
    line-height: unset;
    direction: ltr;
    @apply p-0 m-0 box-border
    outline-0 no-underline list-none border-0 border-transparent;
  }

  :root {
    /* modal confirm style */
    .popup-content {
      @apply !rounded-xl w-auto;
    }

    .minHeight {
      min-height: 9rem;
    }
  }

  body {
    @apply w-full h-screen flex flex-col justify-start items-start overflow-hidden;
  }

  #root {
    @apply w-full h-screen flex flex-col justify-start items-center bg-gray-200/30;
  }

  .iconContainer {
    @apply w-8 h-8 rounded-xl
         flex justify-center items-center 
         cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply w-0.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full;
  }

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}
